{% extends "master.html" %}

{% block title %}
    AdBe | Профил на студент
{% endblock title %}

    {% block stylesheet %}
    {% endblock stylesheet %}

    {% block content %}
        <div class="box">
            <aside>
                <div class="upload_wrapper">
                    <img src="{{STATIC_URL}}img/su_logo.png" alt="">
                </div>
                <div class="courses">
                    <div class="title">Записани курсове</div>
                    <ul>
                    {% for course in courses %}
                        <li><a class="openCourse" href="#course={{course.id}}">{{ course.name }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="settings">
                    <ul>
<!--                         <li>Лични настройки</li> -->
                        <li><a class="addTask" href="#addTask">Проверка на задачите</a></li>
                    </ul>
                </div>
            </aside>
            <section>
                <div id="success">
                    Операцията беше успешна :)
                </div>
                <div id="error">
                    Нещо се обърка ;(
                </div>
                <div id="default">
                    Добре дошли в административният ни панел
                </div>
                <div id="uploadLectures">
                    <form action="{% url 'upload' %}" method="POST" class="dropzone" id="my-awesome-dropzone" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="dz-message">
                            Натиснете или драгнете тук необходимите файлове<br>
                            <span class="note"></span>
                            <div class="fallback">
                                <input name="file" type="file" multiple />
                            </div>
                        </div>
                        <select class="courses" name="course">
                            {% for course in courses %}
                                <option value="{{course.id}}">{{course.name}}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="Готово">
                    </form>
                </div>
                <div id="uploaded">
                    <table>
                        <thead>
                            <tr>
                                <th>Име</th>
                                <th>Качено</th>
                                <th>Размер</th>
                                <th>Свали</th>
                                <th>Качил</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div id="addTask">
                    <ul>
                    {% for task in tasks %}
                        <li class="task">
                            <div class="coursename">
                                {{task.course.name}}
                            </div>
                            <div class="description">
                                {{task.description}}
                            </div>
                            <div class="date">
                                <span>Изтича на {{task.expire}}</span><br>
                                <span>Създадено на {{task.created}}</span>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </section>
        </div>
    {% endblock content %}

    {% block scripts %}
    <script src="{{STATIC_URL}}js/student.js"></script>
    {% endblock scripts %}