{% extends "master.html" %}

{% block title %}
    AdBe | Профил на студент
{% endblock title %}

    {% block stylesheet %}
    {% endblock stylesheet %}

    {% block content %}
        <div class="box">
            <aside>
                <div class="upload_wrapper">
                    <img src="{{STATIC_URL}}img/su_logo.png" alt="">
                </div>
                <div class="courses">
                    <div class="title">Записани курсове</div>
                    <ul>
                    {% for course in courses %}
                        <li><a class="openCourse" href="#course={{course.id}}">{{ course.name }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="settings">
                    <ul>
                        <li>Лични настройки</li>
                        <li>Проверка на задачите</li>
                    </ul>
                </div>
            </aside>
            <section>
                <div id="success">
                    Операцията беше успешна :)
                </div>
                <div id="error">
                    Нещо се обърка ;(
                </div>
                <div id="default">
                    Добре дошли в административният ни панел
                </div>
                <div id="uploadLectures">
                    <form action="{% url 'upload' %}" method="POST" class="dropzone" id="my-awesome-dropzone" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="dz-message">
                            Натиснете или драгнете тук необходимите файлове<br>
                            <span class="note"></span>
                            <div class="fallback">
                                <input name="file" type="file" multiple />
                            </div>
                        </div>
                        <select class="courses" name="course">
                            {% for course in courses %}
                                <option value="{{course.id}}">{{course.name}}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="Готово">
                    </form>
                </div>
                <div id="uploaded">
                    <table>
                        <thead>
                            <tr>
                                <th>Име</th>
                                <th>Качено</th>
                                <th>Размер</th>
                                <th>Свали</th>
                                <th>Качил</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    {% endblock content %}

    {% block scripts %}
    <script>
    $("section>div").hide();

    switch(location.hash){
        case "#success":
            $("#success").show();
            break;
        case "#error":
            $("#error").show();
            break;
        case "#createCourse":
            $("#createCourse").show();
            break;
        case "#upload":
            $("#uploadLectures").show();
            break;
        default:
            if(location.hash.split("course=").length > 1){
                $("#uploaded").show().find("tbody").html("");
                $.ajax({
                    type: "GET",
                    url: "/course/get_course_files/" + location.hash.split("course=")[1],
                }).done(handle_file_response);
            }
            else{
                $("section div#default").show();            
            }
            break;
    }


        $('*[data-open="createCourse"]').click(function(){
            $("section>div").hide();
            $("#createCourse").show();
        })

        $('.upload_wrapper a').click(function(){
            $("section>div").hide();
            $("#uploadLectures").show();
        })
        
        $(".new_field").click(function(){
            var $last = $(".course_options").last();
            $last.after($last.data("id", parseInt($last.data("id")) + 1).clone());
        });

        $(".remove_field").click(function(){
            var $last = $(".course_options").last();
            if($(".course_options").length > 1){
                $last.remove();            
            }
        });

    $(".openCourse").click(function(){
        $("section>div").hide();
        $("#uploaded").show().find("tbody").html("");
        var course_id = $(this).attr("href").split("=")[1];
        $.ajax({
            type: "GET",
            url: "/course/get_course_files/" + course_id,
        }).done(handle_file_response);
    });

    function handle_file_response(data){
        if(data.length === 0){
            $("tbody").append("<tr><td colspan='5'>Тук нямате още качени материали ;(</td></tr>");                
        }
        data.forEach(function(e){
            var el = "<tr><td>";
            el += e.name;
            el += "</td><td>";
            el += e.created;
            el += "</td><td>";
            el += e.size;
            el += "</td><td>";
            el += "<a href=/download?prev=" + location.href + "&file=/media/" + e.path + ">Свали</a>";
            el += "</td><td>";
            el += e.uploaded_by;
            el += "</td></tr>";
            $("tbody").append(el);
        });
    }
    </script>
    {% endblock scripts %}