{% extends "master.html" %}

{% block title %}
    AdBe | Профил на професор
{% endblock title %}

    {% block stylesheet %}
    {% endblock stylesheet %}

    {% block content %}
        <div class="box">
            <aside>
                <div class="upload_wrapper">
                    <a href="#uploadLectures">Kaчи материали</a>
                </div>
                <div class="courses">
                    <ul>
                    {% for course in courses %}
                        <li><a class="openCourse" href="#course={{course.id}}">{{ course.name }}</a></li>
                    {% endfor %}
                        <li><a href="#createCourse" data-open="createCourse">Създай нов курс</a></li>
                    </ul>
                </div>
                <div class="settings">
                    <ul>
                        <!-- <li>Лични настройки</li> -->
                        <li><a class="addTask" href="#addTask">Добави задача</a></li>
                        <li><a href="#controlCourses">Запитвания за достъп-{{requests|length}}</a></li>
                    </ul>
                </div>
            </aside>
            <section>
                <div id="success">
                    Операцията беше успешна :)
                </div>
                <div id="error">
                    Нещо се обърка ;(
                </div>
                <div id="default">
                    Добре дошли в административният ни панел
                </div>
                <div id="uploadLectures">
                    <form action="{% url 'upload' %}" method="POST" class="dropzone" id="my-awesome-dropzone" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="dz-message">
                            Натиснете или драгнете тук необходимите файлове<br>
                            <span class="note"></span>
                            <div class="fallback">
                                <input name="file" type="file" multiple />
                            </div>
                        </div>
                        <select class="courses" name="course">
                            {% for course in courses %}
                                <option value="{{course.id}}">{{course.name}}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="Готово">
                    </form>
                </div>
                <div id="createCourse">
                    <form id="createCourseForm" action="{% url 'create_course' %}" method="POST">
                        {% csrf_token %}
                        {{ courseForm.specialtyData }}
                        <div class="courseName">
                            <label for="" class="main_label">
                                {% if courseForm.name.errors %}
                                    {{ courseForm.name.errors }}
                                {% endif %}
                                Име на курсът:</label>
                                {{ courseForm.name }}
                        </div>
                        <a class="new_field" href="javascript:;">Добави ново поле</a>
                        <a class="remove_field" href="javascript:;">Премахни поле</a>
                        <div class="course_options" data-id="0">
                            <select class="specialties">
                                {% for specialty in specialties %}
                                <option value="{{specialty.id}}">{{specialty.name}}</option>
                                {% endfor %}
                            </select>

                            <select class="semesters">
                                {% for semester in semesters %}
                                    <option value="{{semester.0}}">{{semester.1}} семестър</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input type="submit" value="Готово">
                    </form>
                </div>
                <div id="uploaded">
                    <table>
                        <thead>
                            <tr>
                                <th>Име</th>
                                <th>Качено</th>
                                <th>От</th>
                                <th>Размер</th>
                                <th>Свали</th>
                                <th>Изтрий</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div id="addTask">
                    <ul>
                        <li class="newTask">
                            <div class="icon"></div>
                            <div class="select_course">
                                <select class="task_courses">
                                    {% for course in courses %}
                                        <option value="{{course.id}}">{{course.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="description"><textarea id="id_description" cols="30" rows="10"></textarea></div>
                            <div class="end">
                                Краен срок: 
                                <input type="time" value="00:00">
                                <input type="date" value="2015-03-01">
                            </div>
                            <button class="save">Save</button>
                        </li>
                    {% for task in tasks %}
                        <li class="task">
                            <div class="coursename">
                                {{task.course.name}}
                            </div>
                            <div class="description">
                                {{task.description}}
                            </div>
                            <div class="date">
                                <span>Изтича на {{task.expire}}</span><br>
                                <span>Създадено на {{task.created}}</span>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div id="controlCourses">
                    <table>
                        <thead>
                            <tr>
                                <th>Курс</th>
                                <th>Искащ достъп</th>
                                <th>Разреши</th>
                                <th>Забрани</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for r in requests %}
                            <tr>
                                <td>{{ r.course.name }}</td>
                                <td>{{ r.lector.user.first_name }} {{ r.lector.user.last_name }}</td>
                                <td><a href="/course/approve/{{r.id}}">Разреши</a></td>
                                <td><a href="/course/reject/{{r.id}}">Забрани</a></td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4">
                                    Няма запитвания ;(
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    {% endblock content %}

    {% block scripts %}
    <div id="diag">
        <div class="wrapper">
            <a href="javascript:;" class="close">+</a>
            <div class="text">Вече съществува курс с такова име. Искате ли да поискате права за този курс?</div>
            <div class="options">
                <a href="javascript:;" class="yes">Да</a>
                <a href="javascript:;" class="no">Не</a>
            </div>
        </div>
    </div>
    <script src="{{STATIC_URL}}js/dropzone.js"></script>
    <script src="{{STATIC_URL}}js/lector.js"></script>
    {% endblock scripts %}